.sign-in {
    background: #aeb7e6;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
  
   .wrapper{
    border: 4px solid #91a4f9;
    background: #fff;
    width: 480px;
    border-radius: 20px;
    padding: 40px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .logo {
      display: flex;
      align-items: center;
      gap: 20px;
      margin-bottom: 40px;

      .title {
        font-size: 34px;
        font-weight: 600;
        color: #000;
        text-transform: uppercase;
      }
    }
    .form {
       width: 100%;
     
    
        .ant-form-item {
          width: 100%;
        }
    
        /* Remove double border and ensure consistent styling for inputs */
        .ant-input-affix-wrapper {
          border: 2px solid #aeb7e6; /* Outer border color */
          border-radius: 8px;
          padding-right: 10px;
          height: 50px; /* Adjust height for consistency */
          display: flex;
          align-items: center;
    
          .ant-input {
            border: none;
            box-shadow: none; 
            background: #fff !important;

          }
    
          .ant-input-password-icon {
            color: #3c59ea; 
          }
        }
    
        /* Additional styling for regular input */
        .ant-input {
          border: 2px solid #aeb7e6;
          border-radius: 8px;
          background: #fff;
          font-size: 16px;
          padding: 10px;
          color: #333;
        }
    
        .sign_btn {
          background: #8394ddf8;
          width: 50%;
          border-radius: 4px;
          font-weight: 600;
          height: 50px;
          margin-left: 100px;
    
          &:hover {
            background: #a0abd6;
          }
        }
      }}
  }
  