.filter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  border-radius: 10px;
  padding: 30px 20px;
  margin: 6px 0;
  &_actions {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}
