.stat_cards {
  display: flex;
  align-items: center;
  gap: 20px;
  overflow-x: scroll;
  scrollbar-width: none;
}
.chart {
  margin-top: 30px;
  border-radius: 30px;
  overflow: hidden;
  background-color: rgb(249, 249, 249);
  width: calc(100vw - 350px);
  width: 100%;

}

.stat_cards::-webkit-scrollbar {
  display: none;
}
